<div class="container" ng-controller="ClosetController">

  <div >
    <div class="pack-info-form">
      <form ng-show="packNotEntered">
        <input ng-model="pack.name" type="text" placeholder="Name your pack">
        <input ng-model="pack.season" type="text" placeholder="Season">
        <input ng-model="pack.duration" type="text" placeholder="Trip duration">
        <button type="submit" ng-click="addPack()">Create Pack</button>
      </form>
    </div>

    <div class="pack-info">
      <!-- add angular stuff to update pack info -->
      <div class="current-pack">
        <div class="currently-packing">Currently Packing:</div>
        <div class="pack-name">{{currentPack.name}}</div>
        <div>{{currentPack.season}}</div>
        <div> {{currentPack.duration}}</div>
      </div>
    </div>

    </div>
      <div>{{currentPack.weight}}</div>
      <div>Base Weight</div>
    <div>
  </div>

  <div class="pack-main" >

    <div class="item-list closet">
      <h2>My Gear Closet</h2>
      <table>
        <tr>
          <th>Item</th>
          <th>Type</th>
          <th>Weight</th>
          <th>Category</th>
        </tr>
        <tr ng-repeat= "item in gearList" ng-click="addToPack()">
          <td>{{item.name}}</td>
          <td>{{item.type}}</td>
          <td>{{item.weight}}</td>
          <td>{{item.category}}</td>
        </tr>
      </table>
    </div>

    <div class="pack-list pack">
      <h2>My Pack</h2>
      <table>
        <tr>
          <th>Item</th>
          <th>Type</th>
          <th>Weight</th>
          <th>Category</th>
        </tr>
        <tr ng-repeat= "item in pack.items">
          <td>{{pack.item.name}}</td>
          <td>{{pack.item.type}}</td>
          <td>{{pack.item.weight}}</td>
          <td>{{pack.item.category}}</td>
        </tr>
      </table>
    </div>
  </div>

    </div>
  </div>

</div>