<div class="container">

  <div class="add-item">
    <form class="add-item-form">
      <input type="text" ng-model="" placeholder="item">
      <input type="text" ng-model="" placeholder="type">
      <input type="text" ng-model="" placeholder="weight">
      <input type="text" ng-model="" placeholder="category">
      <button type="submit">Store It</button>
    </form>
  </div>

  <div class="item-list">
    <h2>My Gear</h2>
    <table>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th>Weight</th>
        <th>Category</th>
      </tr>
      <tr>
        <td>item</td>
        <td>type</td>
        <td>weight</td>
        <td>category</td>
      </tr>
    <div class="item" ng-repeat="item in gear">
    <!-- item info here -->
      <div>{{ pack }}</div>
    </table>
  </div>

</div>